.color{
    background-color: whitesmoke;
}
input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #34495E;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    border-width: 0;
    transition: all .3s linear;
    }